//#f5f8fa
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//ff0090
//bf006c


//fb536c
//f18a81

//Main colors
$main-color: #fb536c;
$sub-color: #f18a81;
$wit-color: #ffffff;
$grijs-color: #c3c3c3;


